body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #FFC0CB;
    color: #fff;
    padding: 65px 0; /* Augmentation de la marge intérieure pour élargir le header */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

#cart-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.category {
    width: 48%;
    padding: 10px;
    background-color: #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}